@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * NOTE: Use 'R G B' colors' coldes to be able to set opacity using Tailwind CSS utils
   * @see https://tailwindcss.com/docs/customizing-colors#using-css-variables
   */
  :root {
    /* base colors */
    --accent-0: 236 91 41; /* #EC5B29 */
    --accent-1: 255 164 113; /* #FFA471 */
    --accent-2: 255 216 200; /* #FFD8C8 */

    --white: 255 255 255;
    --black: 0 0 0;

    /* theme */
    --bg-0: var(--white);
    --bg-1: 241 239 237; /* #F1EFED */
    --bg-2: 235 233 231;
    --bg-3: 228 226 224;
    --bg-4: 219 217 216;
    --bg-error: 255 215 222;

    --text-0: var(--black);
    --text-1: 54 54 54;
    --text-2: 119 119 119;
    --text-3: 194 191 190;
    --text-4: 219 217 216;
    --text-error: 255 52 87;

    /* UI elements */
    --button-bg: var(--black);
    --button-bg-hover: 12 12 14;
    --button-bg-active: 24 24 29;
    --button-text: var(--white);
  }

  ::selection {
    @apply tw-bg-accent-r2 tw-text-black;
  }

  html {
    @apply tw-text-r0 tw-bg-r1 tw-font-sans tw-leading-sm tw-text-lg sm:tw-text-base;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tw-font-sans tw-font-semibold !tw-leading-xs tw-mb-[1em];
  }
  h2, h3, h4, h5, h6 {
    @apply tw-text-r1;
  }
  h1 {
    @apply tw-text-xl;
  }
  h2 {
    @apply tw-text-base;
  }
  h3 {
    @apply tw-text-sm;
  }
  h4, h5, h6 {
    @apply tw-text-xs;
  }
}
